**/.DS_Store
.gitignore
Whips-PCB/Whips-PCB-backups/*
Whips-PCB/fp-info-cache
Whips-Art/Hex/raw/*
Whips-Art/Hex/good/*
Whips-Art/Hex/maybe/*
Whips-Art/Hex/sdflash/*
Whips-Control-PCB/fp-info-cache
Whips-Control-PCB/Whips-Control-PCB-backups/*
Whips/monitor/__pycache__/*
