/.DS_Store
Whips-PCB/Whips-PCB-backups/*
Whips-PCB/fp-info-cache
Whips-Art/Hex/raw/*
Whips-Art/Hex/good/*
Whips-Art/Hex/maybe/*
Whips-Art/Hex/sdflash/*
Whips/.DS_Store
Whips-Art/Hex/.DS_Store
Whips-Art/.DS_Store
Whips-PCB/.DS_Store
Whips-PCB/production/.DS_Store
Whips-PCB/turtle-art/.DS_Store
Whips-PCB/turtle-art/pieces/.DS_Store
Whips-Art/Hex/experiment/.DS_Store
.gitignore
Whips-Control-PCB/fp-info-cache
Whips-Control-PCB/production/.DS_Store
Whips-Control-PCB/Whips-Control-PCB-backups/*
Whips/monitor/__pycache__/*
